@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../Images/backgound.jpg");
  background-size: auto;
  background-repeat: repeat;
}

#play {
  padding: 10px;
  border: none;
  background-color: transparent;

  & :hover {
    transform: scale(1.3);
    transition: transform 0.1s;
  }

  & img {
    width: 130px;
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.single-card {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.grid-box {
  display: grid;
  padding: 20px;
  gap: 10px;
  column-gap: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.label {
  font-family: "Literata", serif;
  font-size: 18px;

  & > b {
    font-family: "Satisfy", cursive;
    font-size: 24px;
  }
}

.time-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#time-bar {
  transition: width 0.6s ease-in;
}

.back {
  background-color: #c0392b;
  color: white;
}

.front {
  background-color: green;
}

.img-modal-body {
  width: 130px;
}

.card-hover:hover {
  box-shadow: rgba(255, 255, 255, 0.726) 0px 0px 5px 5px;
}

.flip-container {
  perspective: 1000px;
  width: 100%;
  height: 100px;
}

.flip-inner {
  transform-style: preserve-3d;
  transition: transform 0.3s;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-front,
.flip-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.flip-back {
  transform: rotateY(180deg);
}

.flipped .flip-inner {
  transform: rotateY(180deg);
}

.toast-font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#game-toast {
  bottom: 30px;
  z-index: 10;
  left: 30px;
}

.hide-toast {
  visibility: hidden;
}

.show-toast {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    left: 0;
    opacity: 0;
  }
  to {
    left: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    left: 0;
    opacity: 0;
  }
  to {
    left: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    left: 30px;
    opacity: 1;
  }
  to {
    left: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    left: 30px;
    opacity: 1;
  }
  to {
    left: 0;
    opacity: 0;
  }
}
